@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background: #223;
  /* display: inline flex; */
  /* place-items: center; */
}

body {
  margin: 0;
  font-family: Roboto Condensed,"TT Norms", "TT Norms-fallback", proxima-nova, "Helvetica Neue", Verdana, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-bg-welcome {
  background-color:#0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 50%), 
    radial-gradient(at 100% 0%, hsla(339,49%,30%,1) 0, transparent 50%);
}

.gradient-bg-services {
  background-color:#0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 100%, hsla(225,39%,25%,1) 0, transparent 50%);
}

.gradient-bg-transactions {
  background-color: #0f0e13;
  background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,25%,1) 0, transparent 50%);
}

.gradient-bg-footer {
  background-color: #0f0e13;
  background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 53%), 
    radial-gradient(at 50% 150%, hsla(339,49%,30%,1) 0, transparent 50%);
}

.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.916);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(97, 96, 96, 0.3);
}

.eth-card {
  background-color:#a099ff;
  background-image: 
    radial-gradient(at 83% 67%, rgb(152, 231, 156) 0, transparent 58%), 
    radial-gradient(at 67% 20%, hsla(357,94%,71%,1) 0, transparent 59%), 
    radial-gradient(at 88% 35%, hsla(222,81%,65%,1) 0, transparent 50%), 
    radial-gradient(at 31% 91%, hsla(9,61%,61%,1) 0, transparent 52%), 
    radial-gradient(at 27% 71%, hsla(336,91%,65%,1) 0, transparent 49%), 
    radial-gradient(at 74% 89%, hsla(30,98%,65%,1) 0, transparent 51%), 
    radial-gradient(at 53% 75%, hsla(174,94%,68%,1) 0, transparent 45%);
}

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*TINO*/
.light-green {
  background-color: #e5faff
}
.dark-green {
  background-color: #00a2c7
}
.dark-blue {
  background-color: #201747 
}
.bg-window {
  background-color: #223;
}

.status-final {
  color:  #fa0303;

}
.status-scheduled {
  text-decoration: #028b30;

}
.status-inprogress {
  text-decoration: #c74a02;

}

.schedule-row:nth-child(odd) {
  background-color: #f9f9f9;
}

.layout {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.text-dimWhite {
  color: rgba(255, 255, 255, 0.7);
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #fafcfc -43.27%,
    #aed0d1 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

/* table {
  border: 2px solid forestgreen;
  width: 800px;
  height: 200px;
}

th {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
} */

.bordered {
  border-collapse: collapse;
  /* border: 1px solid black; */
}

.bordered th,
.bordered td {
  border: 1px solid #e0e0e0;
  padding: 2px;
}

.StatsStandingsTable_teamRank__dbHMs {
  text-transform: uppercase;
  font-family: Knockout Wide,sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: .8;
  color: #000;
  color: var(--text-secondary);
  width: 1rem;
}


.conf_header {
    text-align: left;
    padding: 2px 0;
    border-bottom: 1px solid #e5e7eb;
    font-family: Roboto Condensed,Arial,sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    position: sticky;
    left: 0;
}

.table_header {
  position: sticky;
  left: 0;
  background-color: #fff;
  background-color: var(--bg-secondary);
  color: #000;
  color: var(--text-secondary);
  z-index: 5;
}

.team_rank {
  text-transform: uppercase;
  font-family: Knockout Wide,sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: .8;
  color: #000;
  color: var(--text-secondary);
  width: 1rem;
}

.team_stdg_img {
  height: 1.5rem;
  width: 1.5rem;
}

.team_stdg_row {
  font-family: Roboto Condensed,Arial,sans-serif;
  /* font-weight: 400; */
  /* font-size: 1.125rem;
  line-height: .8;
  color: #000;
  color: var(--text-secondary); */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
